* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #efefef;
	width: 100%;
	overflow-x: hidden;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
fieldset {
	border: 0;
}
table {
	border-collapse: collapse;
}
.h {
	position: absolute;
	top: -9999999px;
	opacity: 0;
}
